html {
  font-family: 'Inter', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background: linear-gradient(#bccae4, #9b9ca2);
    overflow: hidden;
    margin: 0;
  }

.coverTextViewer {
  border: 10px ridge rgb(0, 0, 0);
  background-color: rgb(169, 169, 161);
  padding: 0.5rem;
  font: 1.2rem sans-serif;
  text-align: left;
  color: white;
}
