html {
  font-family: 'Inter', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background: linear-gradient(#bccae4, #9b9ca2);
    overflow: hidden;
    margin: 0;
}


//////////////////////
// METADATA HANDLER //
//////////////////////
.metadataHandlerContainer {
  left:0;
  right:0;
  margin: auto;
  position: absolute;
  width: 1500px;
  pointer-events: none;
  visibility: hidden;
  
}

.metadataHandlerSelectBox {
  width: 20%;
  margin: auto;
  pointer-events: auto;
  visibility: visible;
  z-index: 20;
}


///////////////////
// MODE SELECTOR //
///////////////////
.modeSelectorContainerParent {
  position: absolute;
  right: 10px;
  width: 200px;
  // height: 200px;
  z-index: 1;
}
  
.modeSelectorContainer {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}
  
.modeSelectorContainerParent:hover
.modeSelectorContainer {
  margin: 10px;
  display: block;
  visibility: visible;
  opacity: 1;
  pointer-events: none;
}

// SUBPART - BUTTONS //
.modelSelectorRow {
  width: 90%;
  height: 20%;
  float: left;
}

.modeSelectorControlsKeys {
  width: 25%;
  float: left;
}

.modeSelectorButtons {
  pointer-events: auto;
  transform: translateY(60%);
}

////////
// UI //
////////
.UIContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.UIcontrols > div {
  display: inline-block;
}
.UIcontrols {
  position: absolute;
  display:inline;
  float: right;
  right:20px;
  bottom: 12.5px;
  font-size: 15px;
  z-index: 15;
}

.UIcontrolsKeys {
  margin-left: 3px;
  width: 50px;
  height: 50px;
  transform: translateY(30%);
}

///////////////////
// CASE INFO BOX //
///////////////////
.informationBox {
  background-color: rgba(128, 128, 128, 0.5);
  width: 27%;
  flex-direction: column;
  display: block;
  position: fixed;
  z-index: 15;
  * {
    opacity: 1;
  }
}

.informationText {
  transform: translateY(-20%);
}

.informationIcon {
  margin-left: 3px;
  margin-right: 3px;
  width: 30px;
  height: 30px;
  transform: translateY(30%);
}

/////////////////////////
// COMMON IMAGE VIEWER //
/////////////////////////
.imageViewerContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
}

.imageViewerUIContainer {
  width: 100%;
  height: 100%;
}

//////////////////
// COVER VIEWER //
//////////////////
.coverViewer, .coverTextViewerBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

// SUBPART - TEXT VIEWER //
.coverTextViewerBackground {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.coverTextViewerTextArea {
  width: 900px;
  max-width: 900px;
  height: 500px;
  max-height: 500px;
  border: 10px ridge rgb(0, 0, 0);
  background-color: rgb(169, 169, 161);
  padding: 0.5rem;
  font: 1.2rem sans-serif;
  text-align: left;
  color: white;
}

// SUBPART - BUTTONS //
.coverViewerButtons {
  position: absolute;
  display:inline;
  float: right;
  right:-210px;
  bottom: 10px;
  z-index: 15;
}

.coverViewercontrolsKeys {
  margin: 0;
  transform: translateY(35%);
  height: 5%;
  width: 5%;
}

.buttonText {
  font-size: 15px;
}

////////////////////////
// COMMON - SUBHEADER //
////////////////////////
.subHeader {
  font-weight: bold;
  font-size: 35px;
  display: inline;
  float:left;
  position: fixed;
  bottom: 10px;
  left: 250px;
  z-index: 15;
}